body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.h {
  font-family: "Montserrat-black";
  font-size: 3rem;
  line-height: 1.2;
  padding-bottom: 5%;
}

h2 {
  color: black;
  line-height: 1.5;
  font-size: 3rem;
  font-style: italic;
}

h3 {
  color: black;
}

p {
  color: #8f8f8f;
  padding: 0 10%;
}


/* bav bar */
.nav-item {
  padding: 0 18px;
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* download_button */
.downloadbutton {
  margin-top: 2%;
  padding: 3% 5% 0;
}

/* Title-image */
.title-image {
  margin-left: 5%;
  width: 250px;
  padding-top: 3%;
  transform: rotate(25deg);
}

/* features-Section */
#features {
  padding: 7% 15%;
}

.features-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  padding-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.testimonial-image {
  margin: 20px;
  width: 10%;
  border-radius: 100%;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

/* cta-Section */

#cta {
  background-color: #ff4c68;
  padding: 7% 20%;
  text-align: center;
  font-family: "Montserrat-black";
}
.cta-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}
/* Footer-section  */

#footer {
  padding: 7% 15%;
  text-align: center;
}

.footer-icon {
  margin: 10px;
}

@media (max-width:768px) {

  .title-image {
    transform: rotate(0);
    text-align: center;
  }

  #title {
    text-align: center;
  }


}
